---
import LayoutLight from '../layouts/LayoutLight.astro';
import NavbarLight from '../components/light/NavbarLight.astro';
import HeroLight from '../components/light/HeroLight.astro';
import ServicesLight from '../components/light/ServicesLight.astro';
import TechnologyLight from '../components/light/TechnologyLight.astro';
import ProcessLight from '../components/light/ProcessLight.astro';
import CTALight from '../components/light/CTALight.astro';
import FooterLight from '../components/light/FooterLight.astro';
---

<LayoutLight>
  <NavbarLight />
  <main>
    <HeroLight />
    <ServicesLight />
    <TechnologyLight />
    <ProcessLight />
    <CTALight />
  </main>
  <FooterLight />
</LayoutLight>
